<!-- O formulário modal -->
<div class="modal fade" id="loginModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Acesse sua conta</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                {% if form.errors %}
                    <p>Seu nome de usuário e senha não conferem. Por favor, tente novamente!</p>
                {% endif %}
            
                {% if next %}
                    {% if user.is_authenticated %}
                        <p>Sua conta não possui acesso a esta página. Para isso, entre com uma conta que tenha acesso.</p>
                    {% else %}
                        <p>Por favor, entre com um usuário correto para ver esta página.</p>
                    {% endif %}
                {% endif %}

                <form action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                    
                    <input type="text" name="username" placeholder="{{ form.username }}">
                    <input type="password" name="password" placeholder="{{ form.password }}">
                    
                    <input type="submit" name="login" class="login loginmodal-submit" value="Entrar">
                    <input type="hidden" name="next" value="{{ next }}">
                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                {# Assumes you setup the password_reset view in your URLconf #}
                <p><a href="{% url 'password_reset' %}">Esqueceu sua senha?</a></p>
            </div>
        </div>
    </div>
</div>
