{% extends 'core/base.html' %}
{% load bootstrap %}

{% block menu %}
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'core_home' %}">Home</a>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Seviços</a>
            
            <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'core_lista_pessoas' %}">Pessoas</a>
                <a class="dropdown-item" href="{% url 'core_lista_veiculos' %}">Veículos</a>
                <a class="dropdown-item" href="{% url 'core_lista_mensalistas' %}">Mensalistas</a>
                
                <div class="dropdown-divider"></div>
                
                <a class="dropdown-item active" href="{% url 'core_lista_movRotativos' %}">Rotativos</a>
                <a class="dropdown-item" href="{% url 'core_lista_movMensalista' %}">Mensalistas</a>
            </div>
        </li>
        
        {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link disabled" href="">Olá {{ user }}!</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
        {% endif %}
    </ul>
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-sm-6">
            <h1>Cadastro</h1>

            <form action="{% url 'core_novo_movRotativo' %}" method="POST">
                {% csrf_token %}
        
                {{ form|bootstrap }}
        
                <button type="submit" class="btn btn-primary">Cadastrar</button>
            </form>
        </div>
        <div class="col-sm-6">
            <h1>Lista Movimentos Rotativos</h1>

            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Veículo</th>
                        <th scope="col">CheckIn</th>
                        <th scope="col">CheckOut</th>
                        <th scope="col">Valor/Hora</th>
                        <th scope="col">Pago</th>
                    </tr>
                </thead>

                <tbody>
                    {% for movimento in movRotativo %}
                        <tr>
                            <th scope="row"><a href="{% url 'core_update_movRotativo' movimento.id %}">{{ movimento.veiculo }}</a></th>
                            <td>{{ movimento.checkin }}</td>
                            <td>{{ movimento.checkout }}</td>
                            <td>{{ movimento.valor_hora }}</td>
                            <td>
                                {% if movimento.pago %}
                                    OK
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}