{% extends 'website/base.html' %}
{% load static %}

{% block main %}
    <div class="row row-space">
        <div class="col-6">
            Mussum Ipsum, cacilds vidis litro abertis.
            Mé faiz elementum girarzis, nisi eros vermeio.
            Quem num gosta di mim que vai caçá sua turmis!
            Si num tem leite então bota uma pinga aí cumpadi!
            Si u mundo tá muito paradis?
            Toma um mé que o mundo vai girarzis!
        </div>

        <div class="col-6">
            Mussum Ipsum, cacilds vidis litro abertis.
            Posuere libero varius.
            Nullam a nisl ut ante blandit hendrerit.
            Aenean sit amet nisi.
            Suco de cevadiss deixa as pessoas mais interessantis.
            Detraxit consequat et quo num tendi nada.
            Si u mundo tá muito paradis?
            Toma um mé que o mundo vai girarzis!
        </div>
    </div>

    <div class="row row-space">
        <div class="col-4">
            Mussum Ipsum, cacilds vidis litro abertis.
            Mé faiz elementum girarzis, nisi eros vermeio.
            Quem num gosta di mim que vai caçá sua turmis!
            Si num tem leite então bota uma pinga aí cumpadi!
            Si u mundo tá muito paradis?
            Toma um mé que o mundo vai girarzis!
        </div>

        <div class="col-4">
            <img src="{% static 'img/CarParkingSign.png' %}" alt="Estacionamento 24 horas" class="img-fluid">
        </div>

        <div class="col-4">
            Mussum Ipsum, cacilds vidis litro abertis.
            Posuere libero varius.
            Nullam a nisl ut ante blandit hendrerit.
            Aenean sit amet nisi.
            Suco de cevadiss deixa as pessoas mais interessantis.
            Detraxit consequat et quo num tendi nada.
            Si u mundo tá muito paradis?
            Toma um mé que o mundo vai girarzis!
        </div>
    </div>

    <div class="row row-space">
        <div class="col-6">
            Mussum Ipsum, cacilds vidis litro abertis.
            Mé faiz elementum girarzis, nisi eros vermeio.
            Quem num gosta di mim que vai caçá sua turmis!
            Si num tem leite então bota uma pinga aí cumpadi!
            Si u mundo tá muito paradis?
            Toma um mé que o mundo vai girarzis!
        </div>

        <div class="col-6">
            Mussum Ipsum, cacilds vidis litro abertis.
            Posuere libero varius.
            Nullam a nisl ut ante blandit hendrerit.
            Aenean sit amet nisi.
            Suco de cevadiss deixa as pessoas mais interessantis.
            Detraxit consequat et quo num tendi nada.
            Si u mundo tá muito paradis?
            Toma um mé que o mundo vai girarzis!
        </div>
    </div>
{% endblock %}